{% extends 'base.html' %}

{% block content %}
    <h1><center>{% block title %} Dashboard {% endblock %}</center></h1>

<body>

<br><br><br>

<p style="font-family:verdona; font-size:18px"><center>
    Number of children appears to affect customer engagement the most, because it's strictly related with the average spend of household
</center></p>

    <br>
    <img src="{{ image1 }}" width="600" height="600">
    <img src="{{ image2 }}" width="600" height="600">
    <img src="{{ image3 }}" width="600" height="600">
</body>

{% endblock %}
